@model Garage_2._0.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.MemberId)</dt>
        <dd>@Html.DisplayFor(model => model.MemberId)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>


        <dt>@Html.DisplayNameFor(model => model.Vehicles) </dt>
        @foreach (var vehicles in Model.Vehicles)
        {
            var regNr = Html.DisplayFor(x => vehicles.RegNr).ToString();
            if (!string.IsNullOrEmpty(regNr)) { continue; }

            var type = Model.VehicleTypes.Where(x => x.Id == vehicles.VehicleTypeId).First();
            var location = Html.DisplayFor(x => vehicles.ParkingLotNumber).ToString();
            var brand = Html.DisplayFor(x => vehicles.Brand).ToString();
            var theModel = Html.DisplayFor(x => vehicles.Modell).ToString();
            string showVehicle = location + " - " + regNr + ", " + type.Name + ", " + brand + ", " + theModel;

            <dd>@showVehicle</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
