@model Garage_2._0.Models.ViewModels.VehicleDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Member.MemberId)</dt>
        <dd>@Html.DisplayFor(model => model.Member.MemberId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Member.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.Member.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.RegNr)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.RegNr)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.VehicleTypeId)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.VehicleTypeId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.VehicleType.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.VehicleType.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.Color)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.Color)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.ParkingLotNumber)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.ParkingLotNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.ParkingStartTime)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.ParkingStartTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.NumberOfTyres)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.NumberOfTyres)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.Modell)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.Modell)</dd>

        <dt>@Html.DisplayNameFor(model => model.Vehicle.Brand)</dt>
        <dd>@Html.DisplayFor(model => model.Vehicle.Brand)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vehicle.RegNr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
